<div class="col-md-4 col-md-offset-4">
  <div class="panel panel-default">
    <div class="panel-body flex-center">
        <% if @proposal.avatar == "" %>
          <%= image_tag("http://icons.veryicon.com/128/Avatar/Face%20Avatars/Male%20Face%20N2.png", class:"img-responsive")%>
        <% else %>
          <% avatar = @proposal.avatar.gsub!("_normal", "") %>
          <%= image_tag(avatar == nil ? @proposal.avatar : avatar, class:"img-responsive")%>
        <% end %>
    </div>
    <div class="panel-footer text-center h1">
      <%= @proposal.name %>
      <div class="search_btn">            
        <%= link_to "E", edit_proposal_path(@proposal), class: "btn btn-default btn-xs" %>
        <%= link_to "X", proposal_path(@proposal), method: :delete,
        data: { confirm: "¿Seguro que quieres eliminar la propuesta?" }, class: "btn btn-default btn-xs" %>
      </div>
    </div>
  </div>
</div>