<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- <div class="navbar-header"> -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("tag_logo.png", alt: "TagCDMX", :height => 32) , root_path, class: "navbar-brand logo", id: "logo_tag" %>
      <%= link_to image_tag("codeacamp_logo.png", alt: "Codea", :height => 32) , root_path, class: "navbar-brand logo pull-right", id: "logo_codea" %>
    <!-- </div> -->
    <div class="collapse navbar-collapse" id="main-menu" >
      <ul class="nav navbar-nav">
        <li><%= link_to "Propón con Twitter", root_path %></li>
        <li><%= link_to "Propuestas", proposals_path %></li>
        <li><%= link_to "Nueva propuesta", new_proposal_path %></li>
      </ul>
    </div>
    <!-- <div class="navbar-header"> -->
    <!-- </div> -->
  </div>
</nav>
