<nav class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- <div class="navbar-header"> -->
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag("http://codeatag.herokuapp.com/assets/tag_logo-394f282e31e3ec624989e06880ff128e31b78213d137e2eb078c26b4d560c4f1.png", alt: "TagCDMX", :height => 32) , root_path, class: "navbar-brand logo", id: "logo_tag" %>
      <%= link_to image_tag("http://codeatag.herokuapp.com/assets/codeacamp_logo-33e6d9abba6ded2b8cc0144f86cdf60c3c5c00e5302194e6d7e3a10f0edfd3fb.png", alt: "Codea", :height => 32) , root_path, class: "navbar-brand logo pull-right", id: "logo_codea" %>
    <!-- </div> -->
    <div class="collapse navbar-collapse" id="main-menu" >
      <ul class="nav navbar-nav">
        <li><%= link_to "Propón con Twitter", twitter_proposal_path %></li>
        <li><%= link_to "Propuestas", proposals_path %></li>
        <li><%= link_to "Nueva propuesta", new_proposal_path %></li>
      </ul>
    </div>
    <!-- <div class="navbar-header"> -->
    <!-- </div> -->
  </div>
</nav>
